<!DOCTYPE html>
<html>
<head>
    <title>Reddit Sentiment Analysis</title>
</head>
<body>
    <h1>Reddit Sentiment Analysis</h1>
    <table>
        <thead>
            <tr>
                <th colspan="1">Post ID</th>
                <th colspan="1">Title</th>
                <th colspan="1">Sentiment</th>
                <th colspan="1">Score</th>
                <th colspan="1">Context</th>

            </tr>
        </thead>
        <tbody>
            {% for row in rows[:10] %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
